<div id="about" class="about">

    <h1 class="heading">About Me</h1>

    <div class="content d-flex">
        <div class="text">
            <p>Hi! I’m Khushpreet Singh, a Frontend Developer specializing in Angular and WordPress. Currently pursuing my Master of
                Computer Applications (MCA) at Sri Kushal Das University, I have over a year of experience in web development,
                focusing on HTML, CSS, JavaScript and Angular.
            
                I’ve worked on various projects, including an E-Commerce app, Facebook clone and Internship Project. I
                am passionate about creating user-friendly web applications that deliver exceptional experiences, I enjoy collaborating with diverse teams.
                Thank you for visiting my portfolio, and I look forward to connecting!</p>
                <div class="btns mt-2">
                    <a href="#contact"><button class="gBtn"><span class="text-white">Contact</span></button></a>
                    <a href="./project/Khushpreet singh-cv.pdf"><button class="gBtn"><span class="text-white">Download CV</span></button></a>
                </div>
        </div>

        <div class="img">
            <ul>
                <li><img [src]="'./images/ang.webp'" alt=""><h5>Angular</h5></li>
                <li><img [src]="'./images/boot.webp'" alt=""><h5>Bootstrap</h5></li>
                <li><img [src]="'./images/wp.webp'" alt=""><h5>WordPress</h5></li>
                <li><img [src]="'./images/git.webp'" alt=""><h5>Git/Github</h5></li>
                <li><img [src]="'./images/html.webp'" alt=""><h5>HTML</h5></li>
                <li><img [src]="'./images/css.webp'" alt=""><h5>CSS</h5></li>
                <li><img [src]="'./images/js.webp'" alt=""><h5>JavaScript</h5></li>
            </ul>
        </div>
    </div>

    <div class="softskills">
        <h2>Soft Skills</h2>
        <ul>
            <li><img [src]="'./images/uiux.webp'" alt=""><h5>Ui/Ux Design</h5></li>
            <li><img [src]="'./images/figma.webp'" alt=""><h5>Figma</h5></li>
            <li><img [src]="'./images/c.webp'" alt=""><h5>C/C++</h5></li>
            <li><img [src]="'./images/angmt.webp'" alt=""><h5>Angular Material</h5></li>

        </ul>
    </div>

</div>

