<div id="project" class="projects">
  <h1 class="text-center mt-3">Projects</h1>
  <div class="project">
    <div class="image">
      <video class="video" [src]="'./video/ecom.mp4'" controls></video>
    </div>

    <div class="desc">
      <h2 class="main-color">#1 E-COMMERCE</h2>
      <p>
        This is an E-COMMERCE Website built with Angular, Bootstrap and Json-Server with all the functionality including
        Payment Gateway Integration.
      </p>
      <div class="btns">
        <a href="https://github.com/KhushpreetSadal/ecom"><button class="gBtn"><span class="text-white">View Code</span></button></a>
      </div>
    </div>
  </div>


  <div class="project">
    <div class="image">
      <video class="video" [src]="'./video/facebook.mp4'" controls></video>
    </div>

    <div class="desc">
      <h2 class="main-color">#2 Facebook</h2>
      <p>
        This is a Facebook clone built completely with the help of Angular, Bootstrap and Json-Server with fully
        Responsive Design and functionalities like Add friends, Posts, Like, Marketplace etc.
      </p>
      <div class="btns">
        <a href="https://github.com/KhushpreetSadal/Angular-Facebook"><button class="gBtn"><span class="text-white">View Code</span></button></a>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="image">
      <img [src]="'./project/vibe.webp'" alt="VibeVault" />
    </div>

    <div class="desc">
      <h2 class="main-color">#3 VibeVault </h2>
      <p>
        VibeVault is an app which is built using Angular and Bootstrap. It is a music app where you can listen to music for free.
      </p>
      <div class="btns">
       <a href="https://github.com/KhushpreetSadal/VibeVault"><button class="gBtn"><span class="text-white">View Code</span></button></a>
      <a href="https://khushpreetsadal.github.io/VibeVault/"><button class="gBtn"><span class="text-white">Visit</span></button></a>
      </div>
    </div>
  </div>


  <div class="project">
    <div class="image">
      <img [src]="'./project/lasles.webp'" alt="LasLesVPN" />
    </div>

    <div class="desc">
      <h2 class="main-color">#4 LasLesVPN</h2>
      <p>
        This website is the an Internship project named LaslesVPN designed with Html, CSS, JavaScript, Bootstrap during Internship at InnoByte Services.
      </p>
      <div class="btns">
        <a href="https://github.com/KhushpreetSadal/lasselsVPN"><button class="gBtn"><span class="text-white">View Code</span></button></a>
       <a href="https://khushpreetsadal.github.io/lasselsVPN/"> <button class="gBtn"><span class="text-white">Visit</span></button></a>
      </div>
    </div>
  </div>


</div>