
<div id="home" class="home d-flex">
    <div class="text">
        <h1>Hi, I'M</h1>
        <h1 class="mb-4">Kushal Singh</h1>
        <p>An Enthusiastic Angular Developer Ready to Create Interactive Web Solutions. Leveraging the Power of Angular to Craft Seamless User Experiences and Scalable Web Apps.</p>
        <div class="btns">
           <a href="#project"><button  class="gBtn"><span class="text-white">Projects</span></button></a>
           <a href="#contact"><button  class="gBtn"><span  class="text-white">Contact</span></button></a>
        </div>
    </div>

    <div class="image d-flex ">
        <img id="self" [src]="'./images/img1.webp'" alt="">
    </div>
   
</div>